<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>

<div id="content">
    <div id='id_navbar' class="ui inverted segment">
        <div class="ui inverted secondary menu">
            <a id='id_navbar_home' class="active item" href="/">
                صفحه اصلی
            </a>
            <a id='id_navbar_contact_us' class="ui inverted button" href="/contactUS">تماس با ما</a>
            <a id='id_navbar_login' class="ui inverted button" href="/login">ورود</a>
            <a id='id_navbar_signup' class="ui inverted button" href="/signup">ثبت نام</a>
            <div class="right item">
                {% if not user.is_authenticated %}
                {% endif %}
                {% if user.is_authenticated %}
                {% endif %}
                <a id='id_navbar_profile' class="ui inverted button" href="/userInfo">پروفایل</a>
                <a id="id_navbar_logout" class="ui inverted button" href="/logout">خروج</a>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2010 by Bean.
    {% endblock %}
</div>
</body>
</html>