{% extends 'Base.html' %}

{% block content %}
    <p id="id_first_name">{{ user.first_name }}</p>
    <p id="id_last_name">{{ user.last_name }}</p>
    <p id="id_username">{{ user.username }}</p>
    <p>
        {% if person.gender == 'F' %}
            زن
        {% endif %}
        {% if person.gender == 'M' %}
            مرد
        {% endif %}
    </p>
    <p id="id_bio">{{ person.bio }}</p>
    <a id='id_edit_profile' class="ui inverted button" href="/editUser">تغییر اطلاعات</a>
    <p id="id_gender">
        {% if user.groups.all.0.name == 'Teacher' %}
            شما به عنوان استاد وارد شده اید
        {% endif %}
        {% if user.groups.all.0.name == 'Student' %}
            شما به عنوان دانشجو وارد شده اید
        {% endif %}
    </p>
    {{ person.image_tag }}
{% endblock %}
{% block title %}
    "profile"
{% endblock %}
